{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Welcome to TextUtils!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <h1 class="fw-bolder text-center">Contact Us</h1>
    <form>
        <div class="mb-3">
            <label for="form_name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="form_name" placeholder="Enter Your Name">
        </div>
        <div class="mb-3">
            <label for="form_email" class="form-label">Your Email address</label>
            <input type="email" class="form-control" id="form_email" aria-describedby="emailHelp"
                placeholder="Enter Your Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="form_number" class="form-label">Your Phone Number</label>
            <input type="email" class="form-control" id="form_number" aria-describedby="emailHelp"
                placeholder="Enter Your Phone Number">
            <div id="emailHelp" class="form-text">We'll never share your Phone Number with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="form_issue" class="form-label">Describe what you want to contact me for here</label>
            <input type="email" class="form-control" id="form_issue" aria-describedby="emailHelp"
                placeholder="Enter Your Message">
        </div>

        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
{% endblock body %}